.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  h1 {
    font-size: 450%;
    font-weight: 600;
    color: #ba9a37;
    border-bottom: solid 3px #e7e16f;
    width: 40%;
    padding: 1%;
  }
}

.containerFotos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  .fotos {
    padding: 2rem;
    margin-bottom: 0.5%;
  }
}

@media screen and (max-width: 760px) {
  .titulo{
    font-size: small;
    h1 {
      width: 90%;
    }
  }

  .containerFotos {
  .fotos {
    padding: 2rem;
  }
}
}