.container {
  display: flex;
  justify-content:center;
  background-color: #9aa45f;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav {
  display: flex;
  flex: 1;
  ul {
    display: flex;
    align-items: center;
    text-align: center;
  }

  li {
    list-style: none;
  }

  .a {
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    margin: 0 5rem 0 5rem;
  }
}

.hamburger {
  display: none;
}

.flex {
  flex: 1;
}

@media screen and (max-width: 760px) {

  .container{
    justify-content: space-around;
  }

  .flex {
    display: none;
  }

  .nav {
   display: none;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
